@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");

.container {
  max-width: var(--width-page);
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  gap: 35px;
}

.container h1 {
  align-self: flex-start;
  font-size: 60px;
  color: white;
  font-weight: 800;
  text-decoration: underline black;
  font-family: "Josefin Sans", sans-serif;
  border-bottom: 5px solid white;
}
